@import url(reset.css);

#wrapper {
    width:1024px;
    margin: 0 auto;
}


#topLine {
    height: 18px;
    background-image: url(../img/topline.png);
    background-repeat: repeat-x;
    background-color: #000000;
}

/*Начало блока header*/
#header {
    height: 157px;
    position: relative;
}

#logo {
    width: 257px;
    height: 92px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 54px;
    top: 29px;
}

#logo a {
    display: block;
    height: 92px;
    cursor: pointer;
}

#faq {
    width: 82px;
    height: 164px;
    background-image: url(../img/faq.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 43px;
    top: -18px;
}

#faq a {
    display: block;
    height: 164px;
    cursor: pointer;
}


#nav {
    width: 520px;
    height: 30px;
    position: absolute;
    top: 56px;
    left: 377px;
}

#nav li {
    float: left;
    margin-right: 27px;
}

#nav li a {
    text-decoration: none;
    font: 16px Arial, sans-serif;
    color: #3f3f3f;
}

#nav li a.active, #nav li a:hover {
    color: #2c789c;
}

/*Конец блока header*/

/*начало блока people*/

#people {
    height: 404px;
    background-image: url(../img/peopleBg.jpg);
    background-repeat: no-repeat;
    background-position: 73px 53px;
    position: relative;
}

#peopleImg {
    height: 391px;
    width: 398px;
    position: absolute;
    right: 55px;
    top: -5px;
    background-image: url(../img/people.jpg);
    background-repeat: no-repeat;
    z-index: 5;
}

#slogan {
    width: 377px;
    height: 80px;
    position: absolute;
    top: 207px;
    right: 632px;
    text-align: right;
    padding-top: 5px;
}


#slogan h1 {
    font: bold 23px Arial, sans-serif;
    color: #1d1e1d;
    text-transform: uppercase;
}

#slogan p {
    font: 16px Arial, sans-serif;
    color: #2c789c;
}

#forline {
    height: 96px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1024px;
    background-image: url(../img/forline.png);
    background-repeat: repeat-y;
    z-index: 3;
}

/*Конец блока people*/

/*Начало цветного блока*/

#colors {
    height: 147px;
    background-image: url(../img/colorsBg.png);
    background-repeat: repeat-y;
    padding: 0 48px 0 41px;
}

#blue {
    width: 292px;
    float: left;
    background-color: #2c789c;
    padding-left: 14px;
    background-image: url(../img/e1.png);
    background-repeat: no-repeat;
    background-position: 250px 10px;
}

#yellow {
    width: 302px;
    float: left;
    background-color: #e5b00d;
    padding-left: 19px;
    background-image: url(../img/e2.png);
    background-repeat: no-repeat;
    background-position: 267px 10px;
}

#green {
    width: 282px;
    float: left;
    background-color: #97ba15;
    padding-left: 24px;
    background-image: url(../img/e3.png);
    background-repeat: no-repeat;
    background-position: 251px 10px;
}

#blue, #yellow, #green {
    color: #ffffff;
    padding-top: 13px;
    position: relative;
}

#colors h2 {
    font: bold 19px Arial, sans-serif;
    padding-bottom: 10px;
}

#colors p {
    font: 16px Arial, sans-serif;
    padding-bottom: 10px;
}

#colors a {
    text-decoration: none;
    color: #525252;
    font: 16px Arial, sans-serif;
    display: block;
    width: 99px;
    height: 26px;
    background-image: url(../img/readMore.png);
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 4px 10px;
    margin-bottom: 4px;
}

.clear {
    clear: both;
}

#romb1 {
    width: 24px;
    height: 49px;
    position: absolute;
    background-image: url(../img/e4.png);
    background-repeat: no-repeat;
    left: 0;
    top: 49px;
}

#romb2 {
    width: 24px;
    height: 49px;
    position: absolute;
    background-image: url(../img/e5.png);
    background-repeat: no-repeat;
    left: 0;
    top: 49px;
}

#green p, #green a {
    margin-left: 6px;
}

#yellow p, #yellow a {
    margin-left: 9px;
}
/*Конец цветного блока*/

/*НАчало черно-белого блока*/

#backandwhite {
    background-image: url(../img/colorsBg.png);
    background-repeat: repeat-y;
    position: relative;
    padding: 17px 55px 30px 55px;
}

#bLeft, #bRight {
    position: absolute;
    width: 44px;
    height: 100px;
}

#bLeft {
    background-image: url(../img/bLeft.png);
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
}

#bRight {
    background-image: url(../img/bRight.png);
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    z-index: 4;
}

#bBottom {
    background-image: url(../img/bBottom.png);
    background-repeat: repeat-x;
    bottom: 0;
    right: 35px;
    width: 956px;
    height: 1px;
    position: absolute;
}

#bContent {
    height: 255px;
    width: 620px;
    float: left;
}

#bForm {
    height: 225px;
    width: 264px;
    float: left;
    margin-left: 20px;
    position: relative;
    z-index: 5;
}

#bContent h2, #bForm h2 {
    font: 24px Arial, sans-serif;
    color: #000000;
    margin-bottom: 6px;
}

#bContent h2 {
    height: 34px;
    margin-bottom: 0;
}

#bContent p.strong {
    color: #1d1e1b;
    font: bold 16px Arial, sans-serif;
    height: 56px;
}

#bContent p {
    color: #7b7d78;
    font: 16px Arial, sans-serif;
    height: 109px;
    overflow: hidden;
}

#bContent a {
    text-decoration: none;
    color: #b6b7b6;
    font: 16px Arial, sans-serif;
    display: block;
    width: 99px;
    height: 18px;
    background-image: url(../img/readMoreblack.png);
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 4px 10px;
}

#bForm input {
    width: 247px;
    height: 31px;
    border: 1px solid #dedede;
    margin-bottom: 11px;
    color: #bababa;
    font: 16px Arial, sans-serif;
    padding-left: 15px;
}

#bForm input.button {
    width: 99px;
    height: 26px;
    border: none;
    padding: 28px 0 0 0;
    margin: 0;
}


/*Конец черно-белого блока*/

/*Начало темного блока*/

#dark {
    padding: 13px 30px 14px 41px;
    background-color: #1d1e1b;
}

#planning, #team, #blog {
    height: 403px;
    float: left;
}

#planning, #team {
    width: 289px;
}

#blog {
    width: 297px;
}

#team, #blog {
    margin-left: 39px;
}

#imgDark1 {
    width: 289px;
    height: 115px;
    background-image: url(../img/dark1.png);
}

#imgDark2 {
    width: 289px;
    height: 115px;
    background-image: url(../img/dark2.png);  
}

#dark h3 {
    height: 27px;
    font: 19px Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    overflow: hidden;
}

#planning p, #team p {
    height: 226px;
    font: 12px Arial, sans-serif;
    color: #94998f;
    padding-top: 9px;
    overflow: hidden;
}

#planning a, #team a {
    text-decoration: none;
    color: #ffffff;
    font: 16px Arial, sans-serif;
    display: block;
    width: 99px;
    height: 18px;
    background-image: url(../img/readmoreblue.png);
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 4px 10px;
}


#post1, #post2 {
    height: 125px;
}

#post2 {
    height: 126px;
}

#blogimg1 {
    width: 111px;
    height: 81px;
    float: left;
    background-image: url(../img/dark3.png);
    margin-right: 10px;
}

#blogimg2 {
    width: 111px;
    height: 81px;
    float: left;
    background-image: url(../img/dark4.png);
    margin-right: 10px;
}

#blogimg3 {
    width: 111px;
    height: 81px;
    float: left;
    background-image: url(../img/dark5.png);
    margin-right: 10px;
}

#blog h4 {
    font: bold 13px Arial, sans-serif;
    color: #ffffff;
}

#blog p {
    font: 12px Arial, sans-serif;
    color: #94998f;
}

#blog a {
    font: 12px Arial, sans-serif;
    color: #2c789c;
    text-decoration: underline;
}

#blog h3 span {
    color: #2c789c;
    text-transform: lowercase;
    padding-left: 13px;
}

/*Конец темного блока*/

/*Начало серого блока*/

#grey {
    height: 168px;
    background-color: #2e302c;
    padding: 15px 30px 35px 40px;
}

#about {
    width: 300px;
    height: 168px;
    float: left;
}

#partners {
    width: 628px;
    height: 168px;
    float: left;
    margin-left: 26px;
}

#grey h2 {
    font: 18px Arial, sans-serif;
    color: #ffffff;
    margin-bottom: 3px;
    text-transform: uppercase;
}

#grey p {
    font: 12px Arial, sans-serif;
    color: #94998f;
    margin-bottom: 6px;
}

#grey a {
    color: #2c789c;
    font: 16px Arial, sans-serif;
    text-decoration: none;
}

.partner {
    float: left;
    width: 277px;
}

.partner li {
    color: #94998f;
    font: 12px Arial, sans-serif;
    margin-bottom: 15px;
    padding-left: 22px;
    background-image: url(../img/plus.png);
    background-repeat: no-repeat;
    background-position: 0 4px;
}

#p2 {
    margin-left: 54px;
}

#p1 {
    margin-left: 20px;
}

/*Конец серого блока*/

/*Начало футера*/

#footer {
    height: 154px;
    background-color: #131412;
    position: relative;
}
#coppy {
    position: absolute;
    top: 81px;
    left: 39px;
}

#coppy, #coppy a {
    font: 13px Arial, sans-serif;
    color: #9b9d99;
    text-decoration: none;
}

#footerNav {
    width: 470px;
    height: 30px;
    position: absolute;
    top: 81px;
    right: 36px;
}

#footerNav li {
    float: left;
    margin-left: 23px;
}

#footerNav li a {
    text-decoration: none;
    font: 13px Arial, sans-serif;
    color: #94998f;
}

#footerNav li a.active, #footerNav li a:hover {
    color: #2c789c;
}

#footerSocial {
    width: 160px;
    height: 22px;
    position: absolute;
    top: 111px;
    right: 95px;
}

#footerSocial li {
    float: right;
    margin-left: 5px;
    height: 22px;
    background-repeat: no-repeat;
}

#s1 {
    width: 28px;
    background-image: url(../img/s4.png);
}

#s2 {
    width: 27px;
    background-image: url(../img/s3.png);
}

#s3 {
    width: 22px;
    background-image: url(../img/s2.png);
}

#s4 {
    width: 62px;
    background-image: url(../img/s1.png);
}

#footerSocial li a {
    height: 22px;
    display: block;
    cursor: pointer;
}